.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  
}
.description {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #080597;
}